.ellipses {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.ellipse {
  width: 50px;
  height: 1018px;
  background: linear-gradient(84.12deg, #A36429 5.62%, #E6BC86 99.5%);
  border-radius: 50%;
  filter: blur(80px);
}

.left-ellipse {
  position: absolute;
  top: 126px;
  left: -50px;
}

.right-ellipse {
  position: absolute;
  top: 947px;
  right: -50px;
}

.buildings-container__pagination-number {
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;

}